<ion-header *ngIf="!isRedirecting">
  <ion-grid class="ion-no-padding" [myScrollVanish]="scrollArea" myHeaderMaxHeight="143px">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <div class="topView">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-justify-content-center ion-align-items-center ion-no-padding">
              <ion-col size="2" size-lg="1" class="ion-text-center">
                <ion-button fill="clear" (click)="onBackClick()"
                  ><ion-icon name="arrow-back" slot="icon-only"></ion-icon
                ></ion-button>
              </ion-col>
              <ion-col class="ion-padding-bottom">
                <h2 class="ion-no-padding" style="text-transform: capitalize;" *ngIf="!IsLoading">
                  <b>{{ dataModel.searchTopic.label }}</b>
                </h2>
                <p *ngIf="!isLoading" class="p-abstract" class="ion-no-padding ion-no-margin">
                  {{ dataModel.currentTopicAbstract }}
                </p>
                <a
                  margin-bottom
                >
                  More on this topic
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content #scrollArea scrollEvents="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <p>Coming soon!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="false && allJournals.length <= 0 && !isRedirecting">
    <ion-row>
      <ion-col class="ion-text-center">
        <p>Sorry, there are no results for {{ searchKey }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="false && allJournals.length > 0 && !isRedirecting">
    <ion-row wrap>
      <ion-col
        size="12"
        size-sm="6"
        size-lg="3"
        *ngFor="let journal of allJournals"
      >
        <ion-card style="animation-name: fadeIn; animation-duration: 1s;">
          <ion-card-header>
            <ion-card-title *ngIf="isLoading">
              <ion-skeleton-text
                animated
                style="height: 1em;"
              ></ion-skeleton-text>
            </ion-card-title>
            <ion-card-title *ngIf="!isLoading" class="card-title">
              {{ journal.name }}
            </ion-card-title>
          </ion-card-header>

          <ion-skeleton-text
            *ngIf="isLoading"
            style="width:100%; height: 200px;"
            class="ion-no-padding ion-no-margin"
          ></ion-skeleton-text>
          <div class="ion-no-padding ion-no-margin card-img" *ngIf="!isLoading">
            <ion-img [src]="journal.imageUrl" alt="Loading image..."></ion-img>
          </div>

          <ion-card-content>
            <!-- <ion-card-subtitle *ngIf="isLoading">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-subtitle>
            <ion-card-subtitle *ngIf="!isLoading">
              {{ journal.ISSN }}
            </ion-card-subtitle> -->
            <ion-skeleton-text
              style="height: 1em;"
              *ngIf="isLoading"
            ></ion-skeleton-text>
            <div *ngIf="!isLoading">
              <ion-label>ISSN: </ion-label>
              <ion-badge slot="end">{{ journal.ISSN }}</ion-badge>
            </div>
          </ion-card-content>
          <div class="ion-padding-start ion-padding-bottom">
            <ion-button
              fill="clear"
              color="primary"
              (click)="onJournalDetails(journal)"
              >More</ion-button
            >
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="onMoreJournals($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading journals..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
