.topView {
    background: var(--ion-color-primary-light);
    overflow-y: hidden;
    height: 143px; // If changed change also myHeaderMaxHeight in HTML
  }
  
  .card-img {
    height: 200px;
    overflow: hidden;
    position: relative;
  }
  
  .card-img ion-img {
    position: absolute;
    width: 100%;
  }

  /* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.p-abstract {
  color: grey;
  font-size: small;
  width: 57%;
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);  
}