.topView {
  background: var(--ion-color-primary-light);
  overflow-y: hidden;
  height: 102px; // If changed change also myHeaderMaxHeight in HTML
}

@mixin imgResponsiveHeight() {
  width: 100%;
  height: 270px;
  @media screen and (min-width: 768px) {
    height: 250px;
  }
  @media screen and (min-width: 992px) {
    height: 200px;
  }
}

.card-img {
  @include imgResponsiveHeight();
  overflow: hidden;
  position: relative;
}

.card-img ion-img {
  position: absolute;
  width: 100%;
}