<ion-header>
  <ion-toolbar>
    <ion-title>
      <div *ngIf="isLoading">
        Loading
      </div>
      <div *ngIf="!isLoading">
        {{ selectedJournal.name }}
      </div>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!isLoading">
    <ion-row no-padding>
      <ion-col margin-top margin-start>
        <ion-text color="primary"
          ><h3 no-margin><b>Released Papers</b></h3></ion-text
        >
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col offset="1" size="10">
        <!-- TODO: Published Papers here -->
      </ion-col>
    </ion-row>

    <ion-row no-padding>
      <ion-col margin-top margin-start>
        <ion-text color="primary"
          ><h3 no-margin><b>Usual Topics</b></h3></ion-text
        >
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col offset="1" size="10">
        <!-- TODO: Interested topics here -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
