<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Geranium</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div
    class="ion-hide-md-up"
    style="width: 100%; height: 100%;"
    padding
    justify-content-center
    align-items-center
  >
    <ion-img
      src="assets/img/mainlogo.png"
      style="width:50%; margin:auto; padding-top: 10%;"
    ></ion-img>
    <div class="autocomplete-mobile">
      <ion-item>
        <ion-label position="floating">Search here</ion-label>
        <ion-input
          [(ngModel)]="searchTopicString"
          (ionChange)="displaySuggestions()"
          (ionFocus)="addFocus()"
          (ionBlur)="removeFocus()"
          debounce="300"
          [disabled]="!dataModel.canSearch"
          required
        ></ion-input>
      </ion-item>
    </div>
    <ion-list style="height: 75%; overflow-y:scroll;">
      <ion-item
        *ngFor="let suggestion of searchSuggestions"
        (click)="navigate(suggestion)"
      >
        <ion-icon name="bulb" margin></ion-icon>
        {{ suggestion.label }}
        <p
          style="font-size: 0.8em; color: grey;"
          *ngIf="countInSuggestions(suggestion.label) > 1"
        >
          &nbsp;&nbsp;&bull;&nbsp;&nbsp;
        </p>
        <p style="font-size: 0.8em; color: grey;"
        *ngIf="countInSuggestions(suggestion.label) > 1">
          {{ suggestion.wikiUrl }}
        </p>
      </ion-item>
    </ion-list>
  </div>

  <ion-grid style="height: 100%" class="ion-hide-sm-down">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col size-sm="10" size-md="8" size-lg="6">
        <ion-grid>
          <ion-row>
            <ion-col size="8" offset="2">
              <ion-img src="assets/img/mainlogo.png"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="autocomplete">
                <ion-item>
                  <ion-label position="floating">Search here</ion-label>
                  <ion-input
                    [(ngModel)]="searchTopicString"
                    (ionChange)="displaySuggestions()"
                    (ionFocus)="addFocus()"
                    (ionBlur)="removeFocus()"
                    debounce="300"
                    [disabled]="!dataModel.canSearch"
                    required
                  ></ion-input>
                </ion-item>
                <ion-list>
                  <ion-item
                    *ngFor="let suggestion of searchSuggestions"
                    (click)="navigate(suggestion)"
                  >
                    <ion-icon name="bulb" margin></ion-icon>
                    {{ suggestion.label }}
                    <p
                      style="font-size: 0.8em; color: grey;"
                      *ngIf="countInSuggestions(suggestion.label) > 1"
                    >
                      &nbsp;&nbsp;&bull;&nbsp;&nbsp;{{ suggestion.wikiUrl }}
                    </p>
                  </ion-item>
                </ion-list>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div [class]="expand"></div>
              <!-- Spacing to show more suggestions -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p no-padding no-margin class="about-label">
    About
  </p>
</ion-content>
