h3 {
  line-height: 1em;
  height: 3.1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  line-height: 1em;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-card {
  border-radius: 8px !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}