<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="onBackClick()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onIRISDetails()" [disabled]="!isLoaded">
        <ion-icon name="link" slot="start"></ion-icon>
        Open on IRIS
      </ion-button>
      <ion-button shape="round" (click)="onCloseClick()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="isLoaded">
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col>
        <ion-img
          [src]="selectedPaper.imageUrl"
          class="ion-hide-md-up"
          style="max-height: 400px; overflow-y: hidden;"
        ></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col size="4" class="ion-hide-sm-down">
        <ion-img
          [src]="selectedPaper.imageUrl"
          style="max-height: 400px; overflow-y: hidden;"
        ></ion-img>
      </ion-col>
      <ion-col class="ion-padding">
        <ion-text>
          <h1 class="ion-no-margin" style="font-size: x-large; padding-bottom: 20px;">
            <b>{{ selectedPaper.title }}</b>
          </h1>
        </ion-text>
        <ion-text color="primary"
          ><h3 class="ion-no-margin"><b>Authors</b></h3></ion-text
        >
        <div class="ion-margin">
          <ion-chip
            *ngFor="let author of selectedPaper.authors"
            (click)="onAuthorChipClick(author)"
          >
            <ion-icon name="person"></ion-icon>
            <ion-label color="primary">{{ author.name }}</ion-label>
          </ion-chip>
        </div>
        <ion-text color="primary"
          ><h3 class="ion-no-margin"><b>Publication Date</b></h3></ion-text
        >
        <div class="ion-margin">
          <p class="ion-no-margin">
            <i>{{ selectedPaper.submittedDate.toLocaleDateString() }}</i>
          </p>
        </div>
        <ion-text color="primary"
          ><h3 class="ion-no-margin"><b>Topics</b></h3></ion-text
        >
        <div class="ion-margin">
          <ion-chip
            *ngFor="let topic of selectedPaper.topics"
            (click)="onTopicChipClick(topic.label)"
            color="primary"
          >
            <ion-icon name="bulb"></ion-icon>
            <ion-label color="primary">{{ topic.label }}</ion-label>
          </ion-chip>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col offset-md="1" size-md="10">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-text color="primary"
                ><h3 class="ion-no-margin"><b>Abstract</b></h3></ion-text
              >
            </ion-card-title>
            <ion-card-subtitle>
              <h5>{{ selectedPaper.abstract }}</h5>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
