<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Details
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%" *ngIf="isLoading">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col style="height: 100%">
        <div style="text-align: center; height: 100%;">
          <ion-spinner color="primary" style="margin: auto;"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div
    padding-top
    padding-horizontal
    justify-content-center
    align-items-center
    style="height: auto; width: 100%"
    *ngIf="!isLoading"
  >
    <div padding>
      <div class="avatar" [ngStyle]="selectedAuthor.style">
        <h1 no-margin no-padding>
          <b>{{ selectedAuthor.initials }}</b>
        </h1>
      </div>
      <h1
        no-margin
        no-padding
        padding-start
        padding-vertical
        style="font-size: xx-large; display: inline-block; vertical-align: middle;"
      >
        <b>{{ selectedAuthor.name }}</b>
      </h1>
    </div>

    <h3 padding-start padding-top>
      Topics of interest
    </h3>
    <div padding-start padding-end padding-bottom>
      <ion-chip
        *ngFor="let topic of topicsList; let i = index"
        (click)="onTopicChipClick(topic.topic.url)"
        [color]="(topic.selected) ? ((i === 0) ? 'danger' : 'primary') : 'medium'"
      >
        <ion-icon name="bulb" *ngIf="!topic.selected"></ion-icon>
        <ion-icon name="checkmark" *ngIf="topic.selected"></ion-icon>
        <ion-label>{{ topic.topic.label }}</ion-label>
      </ion-chip>
    </div>
    <hr />
    <h3 padding-start>
      Publications on these topics
    </h3>
    <ion-grid padding-start padding-end padding-bottom no-margin>
      <ion-row no-padding no-margin>
        <ion-col
          size="12"
          size-sm="6"
          size-xxl="4"
          no-padding
          no-margin
          *ngFor="let paper of filteredPapers"
        >
          <ion-card class="paperCard">
            <ion-img src="assets/img/defaultPaper.jpg"></ion-img>
            <h1 no-padding no-margin>{{ paper.title }}</h1>
            <p>{{ paper.authors[0].name }}</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr />
    <h3 padding-start margin-top>
      Heat Map
    </h3>
  </div>
  <div id="topicmapdiv" style="width: 100%; height: 320px;"></div>
  <hr />
  
</ion-content>
