<ion-header>
  <ion-toolbar>
    <ion-title>
      Details
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%" *ngIf="isLoading">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col style="height: 100%">
        <div style="text-align: center; height: 100%;">
          <ion-spinner color="primary" style="margin: auto;"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!isLoading">
    <ion-row padding justify-content-center align-items-center>
      <ion-col>
        <div class="avatar" [ngStyle]="selectedAuthor.style">
          <h1 no-margin no-padding>
            <b>{{ selectedAuthor.initials }}</b>
          </h1>
        </div>
        <h1
          no-margin
          no-padding
          padding-start
          padding-vertical
          style="font-size: xx-large; display: inline-block; vertical-align: middle;"
        >
          <b>{{ selectedAuthor.name }}</b>
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="primary"
          ><h3 padding-start padding-bottom>
            <b>Published Papers</b>
          </h3></ion-text
        >
        <ion-grid no-padding no-margin padding-vertical>
          <ion-row no-padding no-margin>
            <ion-col size="12" size-md="5" no-padding no-margin padding-start>
              <ion-chip
                *ngFor="let ppt of selectedAuthor.papersPerTopics"
                (click)="onTopicChipClick(ppt.label)"
                color="primary"
              >
                <ion-icon name="bulb"></ion-icon>
                <ion-label color="primary">{{ ppt.label }}</ion-label>
                <!--<ion-badge style="margin-left: 5px;" *ngIf="ppt.occ !== 1">{{ ppt.occ }}</ion-badge>-->
              </ion-chip>
            </ion-col>
            <ion-col>
              <ion-grid no-padding no-margin>
                <ion-row no-padding no-margin>
                  <ion-col
                    size="12"
                    size-sm="6"
                    size-xxl="4"
                    no-padding
                    no-margin
                    *ngFor="let paper of selectedAuthor.papers"
                  >
                    <ion-card (click)="onPaperDetails(paper.id)">
                      <ion-card-header no-padding no-margin padding>
                        <ion-card-title class="paperTitle" tappable>
                          {{ paper.title }}
                        </ion-card-title>
                      </ion-card-header>
                      <ion-card-content no-padding no-margin>
                        <div no-padding no-margin class="more" tappable>
                          <p>MORE</p>
                        </div>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="topicmapdiv" style="width: 100%; height: 320px">
  </div>
</ion-content>
