<ion-header>
  <ion-toolbar>
    <ion-title>
      Author Details
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%" *ngIf="isLoading">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col>
        <div style="text-align: center; height: 100%;">
          <ion-spinner color="primary" style="margin: auto;"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading">
    <ion-row no-margin no-padding>
      <ion-col>
        <ion-img
          [src]="selectedAuthor.imageUrl"
          class="ion-hide-md-up"
          style="max-height: 400px; overflow-y: hidden;"
        ></ion-img>
      </ion-col>
    </ion-row>
    <ion-row padding>
      <ion-col size="4" class="ion-hide-sm-down">
        <ion-img
          [src]="selectedAuthor.imageUrl"
          style="max-height: 300px; overflow-y: hidden;"
        ></ion-img>
      </ion-col>
      <ion-col padding>
        <ion-text color="primary">
          <h2 no-margin><b>Name and surname</b></h2>
        </ion-text>
        <div margin>
          <h4>{{ selectedAuthor.name }}</h4>
        </div>
        <ion-text color="primary"
          ><h3 no-margin><b>Interested Topics</b></h3></ion-text
        >
        <div margin>
            <ion-chip
            *ngFor="let ppt of selectedAuthor.papersPerTopics"
            (click)="onTopicChipClick(ppt.label)"
            color="primary"
          >
            <ion-icon name="bulb"></ion-icon>
            <ion-label color="primary">{{ ppt.label }}</ion-label>
            <ion-badge style="margin-left: 5px;">{{ ppt.occ }}</ion-badge>
          </ion-chip>
        </div>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col offset-md="1" size-md="10">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-text color="primary"
                ><h3 no-margin><b>Published Papers</b></h3></ion-text
              >
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col
                  size="12"
                  size-sm="6"
                  size-lg="3"
                  *ngFor="let paper of selectedAuthor.papers"
                >
                  <ion-card tappable (click)="onPaperDetails(paper.id)">
                    <ion-card-header>
                      <ion-card-title>
                        <h3>{{ paper.title }}</h3>
                      </ion-card-title>
                    </ion-card-header>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
